---
/* interface Props {
	title: string;
	body: string;
	href: string;
	img: string;
	prodName: string;
}

const { href, title, body, img } = Astro.props; */

import { listProductFavorite } from '../../assets/dataProductFavorite.js';

const {prodName, prodImg3, prodDescription, prodPrecio, id} = listProductFavorite
---

<div class="w-full h-full p-3 border rounded-xl bg-gradient-to-r from-[#62a56d] to-[#bdddbf]">

	<div class="w-full h-[270px] aspect-square p-4 ">
		<img class=" object-scale-down w-full h-full rounded-md" src={prodImg3} alt="">
	</div>

	<div class="p-2 border-t-2 border-[#62a56d]">
		<h3 class=" font-bold flex justify-center text-lg">
			{prodName}
		</h3>
		<p class="flex justify-center text-base items-center">
			{prodDescription}
		</p>
		<p class="flex justify-center text-base font-extrabold text-[#41884f] items-center"> 
			Valor = {prodPrecio}
		</p>
	</div>

	<div class=" flex justify-center w-full items-center">
		<a class="border border-[#41884f] rounded-lg text-[#41884f] w-24 h-8 flex justify-center items-center hover:bg-[#265632] hover:text-white" href={`/${id}.productDetall`}>Mas Info</a>
	</div>

</div>